@model FalkenbergsRevyn.Models.Response

@{
    ViewData["Title"] = "Response Details";
}

<h2>Response Details</h2>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Content</dt>
        <dd class="col-sm-10">@Model.ResponseContent</dd>

        <dt class="col-sm-2">Date Responded</dt>
        <dd class="col-sm-10">@Model.DateResponded</dd>

        <dt class="col-sm-2">Comment ID</dt>
        <dd class="col-sm-10">@Model.CommentId</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.ResponseId">Edit</a> |
<a asp-action="Index">Back to List</a>
