@using Microsoft.AspNetCore.Html
@model Comment

<div class="feedback-item">
    <p>@Model.Content</p>
    <button type="button" class="btn small" data-bs-toggle="modal" data-bs-target="#replyModal-@Model.CommentId">Se genererat svar</button>
    <button type="button" class="btn small" data-bs-toggle="modal" data-bs-target="#hideModal-@Model.CommentId">Dölj från listan</button>
    <button type="button" class="btn small" data-bs-toggle="modal" data-bs-target="#showModal-@Model.CommentId">Show comment</button>


    @await Html.PartialAsync("ModalBase", new ModalViewModel
{
    ModalId = "replyModal-" + Model.CommentId,
    Title = "Genererat svar" + @Model.CommentId,
    Body = new HtmlString(Model.Responses?.FirstOrDefault()?.ResponseContent ?? "Inget svar tillgängligt"),
    FooterButtons = new List<IHtmlContent>
    {
    new HtmlString("<button type='button' class='btn btn-primary modalbtn'>Dölj från listan</button>"),
    new HtmlString("<form asp-action='Edit' asp-controller='Response' method='post'><button type='submit' class='btn btn-primary'>Ändra svar</button></form>"),
    new HtmlString("<button type='button' class='btn btn-secondary modalbtn' data-bs-dismiss='modal'>Stäng</button>")
    }
})
    @await Html.PartialAsync("ModalBase", new ModalViewModel
{
    ModalId = "showModal-" + Model.CommentId,
    Title = "Genererat svar(nuvarande svar)" + @Model.CommentId,
    Body = new HtmlString(Model.Responses?.FirstOrDefault()?.ResponseContent ?? "Inget svar tillgängligt"),
    FooterButtons = new List<IHtmlContent>
    {
    new HtmlString("<button type='button' class='btn btn-primary modalbtn'>Dölj från listan</button>"),
    new HtmlString("<form asp-action='Edit' asp-controller='Response' method='post'><button type='submit' class='btn btn-primary'>Ändra svar</button></form>"),
    new HtmlString("<button type='button' class='btn btn-secondary modalbtn' data-bs-dismiss='modal'>Stäng</button>")
    }
})
    @await Html.PartialAsync("ModalBase", new ModalViewModel
{
    ModalId = "hideModal-" + Model.CommentId,
    Title = "",
    Body = new HtmlString("Är du säker att du vill dölja kommentaren?"),
    FooterButtons = new List<IHtmlContent>
    {
    new HtmlString($"<form asp-action='ArchiveComment' asp-controller='Comment' method='post'>" +
    $"<input type='hidden' name='commentId' value='{Model.CommentId}' />" +
    "<button type='submit' class='btn btn-primary'>Ja! Dölj!</button>" +
    "</form>"),
    new HtmlString("<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Nej</button>")
    }
})
</div>