@model FeedbackCategoryViewModel

<div class="dropdown mb-3">
    @{
        string buttonLabel = Model.CurrentFilter switch
        {
            "latest" => "Senaste",
            "oldest" => "Älsta",
            "unanswered" => "Olästa",
            _ => "Filtrera kommentarer"
        };
    }
    <button class="btn-menu dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        @buttonLabel
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "latest", category = Model.CategoryType })">Senaste</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "oldest", category = Model.CategoryType })">Älsta</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Index", new { filter = "unanswered", category = Model.CategoryType })">Olästa</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Index", new { category = Model.CategoryType })">Alla</a></li>
    </ul>
</div>
