<div class="header">
    <img src="/images/logo.png" alt="Logo" class="logo" />
    <div class="navigation">
        <button class="btn">Positiva kommentarer</button>
        <button class="btn btn-primary">Logga ut</button>
    </div>
</div>