@model Comment

<div class="modal fade" id="hideModal-@Model.CommentId" tabindex="-1" aria-labelledby="hideModalLabel-@Model.CommentId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-header text-black border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black border-0">
                <h4 class="text-left mx-4">Är du säker att du vill dölja kommentaren?</h4>
            </div>
            <div class="modal-footer border-0">
                <form asp-action="ArchiveComment" asp-controller="Comment" method="post" style="display:inline;">
                    <input type="hidden" name="commentId" value="@Model.CommentId" />
                    <button type="submit" class="btn-modal">Ja! Dölj!</button>
                </form>
                <button type='button' class='btn-modal' data-bs-dismiss='modal'>Stäng</button>
            </div>
        </div>
    </div>
</div>