@model Comment

<div class="modal fade" id="replyModal-@Model.CommentId" tabindex="-1" aria-labelledby="replyModalLabel-@Model.CommentId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-black border-0">
              @*   <h3 class="mt-4 ms-3">Genererat svar:</h3> *@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black border-0 mx-4">
                <h5 class="text-left">@(string.IsNullOrEmpty(Model.Responses?.FirstOrDefault()?.ResponseContent) ? "Inget svar tillgängligt" : Model.Responses?.FirstOrDefault()?.ResponseContent)</h5>
            </div>
            <div class="modal-footer border-0">
                <form asp-action="ArchiveComment" asp-controller="Comment" method="post" style="display:inline;">
                    <input type="hidden" name="commentId" value="@Model.CommentId" />
                    <button type="submit" class="btn-modal">Dölj från listan.</button>
                </form>
                <button type='button' class='btn-modal' data-bs-dismiss='modal'>Stäng</button>
            </div>
        </div>
    </div>
</div>